

<% @categories.each do |category| %>
  <div class="category-box bg-light d-flex">
    <div class="category-name-box bg-dark">
      <p class="category-name">
        <%= category.name %>
        <%= link_to "Edit Category" , edit_category_path(category)%>
        <%= link_to "Destroy Category", category_path(category),method: :delete %>
      </p>
    </div>
  </div>

<% end %>