

<% @categories.each do |category| %>
  <div class="category-box bg-light">
    <div class="category-name-box bg-dark">
      <p class="category-name">
        <%= category.name %>
      </p>
    </div>
  </div>
<% end %>