<div class="newList">
  <div class="container">
    <%= form_with model: @list, url: { action: :create }, class: "new_category", local: true do |f| %>
      <% if @list.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <%= f.label :ToDo %>
      <%= f.text_field :name, autofocus: true, class: "form-control ListName", placeholder: "To Do を入力" %>
      <div class="text-center"><%= f.submit "作成", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>